body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
}
.kitchen-menu{
    padding-left: 0;
    text-align: justify;
    font-size: 0;
    background-color: #2a3644;
    border-radius: 3px;
    list-style: none;
  }
.kitchen-menu:after{
    content: "";
    display: inline-block;
    width: 100%;
}
.kitchen-menu li:hover .kitchen-sub{
    display: block;
  }
.kitchen-menu>li{
    position: relative;
    display: inline-block;
    font-size: 16px;
    border-right:1px solid #3f4852;
    border-left: 1px solid #3f4852;
}
.kitchen-menu>li:first-child{
    border-left: none;
}
.kitchen-menu>li:first-child:hover>a{
    border-radius:3px 0 0 3px;
}
.kitchen-menu>li:last-child{
    border-radius: none;
}
.kitchen-menu>li:last-child:hover>a{
    border-radius: 0 3px 3px 0;
}
.kitchen-sub>li:hover>a,
.kitchen-menu>li:hover>a{
    background-color: #3f4852;
    color: #fd8612;
}
.kitchen-menu a{
    display: block;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
}
.kitchen-menu li:nd(:last-child) .row-sub{
    left: 0;
}
.kitchen-menu li:last-child .row-sub{
    right: 0;
}
.kitchen-sub{
    display: none;
    padding-left: 0;
    background-color: #d2d4d5;
    border-radius: 3px;
}
.row-sub{
    position: absolute;
    padding-top: 5px;
    background-color: transparent;
    width: 210px;
}
.kitchen-sub li:not(:last-child){
    border-bottom: 1px solid #b9bdc1;
}
.kitchen-sub:hover{
    border-radius: 3px;
}
.kitchen-sub li:last-child:hover{
    border-radius: 0 0 3px 3px;
}
.kitchen-sub:last-child{
    border: 0;
}
.kitchen-sub>li:hover>a{
    color: #fd8612;
    background-color: #2a3644;
}
h1{
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    text-transform: uppercase;
}
header ul{
    list-style: none;
    background-color: #2a3644;
}
header ul a{
    text-decoration: none;
    color: #fff;
}
table{
    width: 100%;
}
table tr{
    border: 2px solid #c0c1c2;
}
thead{
    background-color: #2a3644;
}
thead{
    color: #fff;
}
tbody{
    font-size: 15px;
    color: #2a3644;
}
tbody:nth-child(odd){
    background-color: #f2f2f2;
}
tbody:nth-child(even){
    background-color: #e8e8e8;
}
.tnumber-name{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.tnumber{
    text-align: center;
    font-size: 16px;
    color: #2a3644;
    padding: 21px 0;
}
.ttright{
    text-align: right;
}